<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Robin Hood Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/halloweenStory1" method="post">
      <label for="verb1">Verb:</label>
      <input id="verb1" name="verb1" type="text">
      <label for="Verb2">Verb:</label>
      <input id="Verb2" name="Verb2" type="text">
      <label for="verb3">Verb:</label>
      <input id="verb3" name="verb3" type="text">
      <label for="verb4">Verb:</label>
      <input id="verb4" name="verb4" type="text">
      <label for="verb5">Verb:</label>
      <input id="verb5" name="verb5" type="text">
      <label for="verb6">Verb ending in "ing":</label>
      <input id="verb6" name="verb6" type="text">
      <label for="adj1">Adjective:</label>
      <input id="adj1" name="adj1" type="text">
      <label for="adj1">Adjective:</label>
      <input id="adj1" name="adj1" type="text">
      <label for="adj2">Adjective:</label>
      <input id="adj2" name="adj2" type="text">
      <label for="adj3">Adjective:</label>
      <input id="adj3" name="adj3" type="text">
      <label for="adj4">Adjective:</label>
      <input id="adj4" name="adj4" type="text">
      <label for="adj5">Adjective:</label>
      <input id="adj5" name="adj5" type="text">
      <label for="adj6">Adjective:</label>
      <input id="adj6" name="adj6" type="text">
      <label for="adj7">Adjective:</label>
      <input id="adj7" name="adj7" type="text">
      <label for="adj8">Adjective:</label>
      <input id="adj8" name="adj8" type="text">
      <label for="adj9">Adjective:</label>
      <input id="adj9" name="adj9" type="text">
      <label for="pluralNoun1">Plural Noun:</label>
      <input id="pluralNoun1" name="pluralNoun1" type="text">
      <label for="pluralNoun2">Plural Noun:</label>
      <input id="pluralNoun2" name="pluralNoun2" type="text">
      <label for="pluralNoun5">Plural Noun:</label>
      <input id="pluralNoun5" name="pluralNoun5" type="text">
      <label for="pluralNoun6">Plural Noun:</label>
      <input id="pluralNoun6" name="pluralNoun6" type="text">
      <label for="noun3">Noun:</label>
      <input id="noun3" name="noun3" type="text">
      <label for="noun4">Noun:</label>
      <input id="noun4" name="noun4" type="text">
      <label for="noun5">Noun:</label>
      <input id="noun5" name="noun5" type="text">
      <label for="noun6">Noun:</label>
      <input id="noun6" name="noun6" type="text">
      <label for="noun7">Noun:</label>
      <input id="noun7" name="noun7" type="text">
      <label for="adverb1">Adverb:</label>
      <input id="adverb1" name="adverb1" type="text">
      <label for="number">Number:</label>
      <input id="number" name="number" type="text">
      <label for="celeb">Celebrity:</label>
      <input id="celeb" name="celeb" type="text">
      <label for="person">Person in room:</label>
      <input id="person" name="person" type="text">
      <label for="bodyPart">Part of the body:</label>
      <input id="bodyPart" name="bodyPart" type="text">
      <button type="submit">Submit!</button>
    </form>
  </body>
</html>