<!DOCTYPE html>
<html>
  <head>
    <title>AngryLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to Angry Libs</h1>
    <p>Pick a category:</p>
    <a href="/fantasy">Fantasy</a>
    <a href="/halloween">Halloween</a>
    <a href="/shakespeare">Shakespeare</a>
  </body>
</html>