<!DOCTYPE html>
<html>
  <head>
    <title>AngryLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to Angry Libs</h1>
    <p>For now this will be empty but you will pick a category for the type of story you want to create.</p>
    <p>Pick a category:</p>
    <p>Fantasy</p>
    <p>Halloween</p>
    <p>Shakespeare</p>
  </body>
</html>