<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fantasy Home</h1>
    <p>Pick a fantasy story:</p>
    <a href="/fantasy1">1</p>
    <p>2</p>
    <p>3</p>
  </body>
</html>