<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Robin Hood Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Form</h1>
    <h2>Fill in:</h2>
    <form action="/EndRHStory" method="post">
      <label for="name1">Name:</label>
      <input id="name1" name="name1" type="text">
      <label for="noun1">Plural Noun:</label>
      <input id="noun1" name="noun1" type="text">
      <label for="noun2">Plural Noun:</label>
      <input id="noun2" name="noun2" type="text">
      <label for="noun3">Plural Noun:</label>
      <input id="noun3" name="noun3" type="text">
      <label for="noun4">Plural Noun:</label>
      <input id="noun4" name="noun4" type="text">
      <label for="adjective1">Adjective:</label>
      <input id="adjective1" name="adjective1" type="text">
      <label for="adjective2">Adjective:</label>
      <input id="adjective2" name="adjective2" type="text">
      <label for="noun4">Plural Noun:</label>
      <input id="noun4" name="noun4" type="text">
      <label for="adjective3">Adjective:</label>
      <input id="adjective3" name="adjective3" type="text">
      <label for="noun5">Plural Noun:</label>
      <input id="noun5" name="noun5" type="text">
      <button type="submit">Submit!</button>
    </form>
  </body>
</html>