<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Robin Hood Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Form</h1>
    <h2>Fill in:</h2>
    <form action="/EndRHStory" method="post">
      <label for="adjective1">Adjective:</label>
      <input id="adjective1" name="adjective1" type="text">
      <label for="noun1">Noun:</label>
      <input id="noun1" name="noun1" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>